{% extends "base.html" %}
{% block content %}
<h2>Создание выставки</h2>
<form method="POST">
    {{ form.hidden_tag() }}

    <div class="mb-3">
        {{ form.name.label }} {{ form.name(class="form-control") }}
    </div>

    <div class="mb-3">
        {% for error in form.templates.errors %}
            <div class="alert alert-danger">{{ error }}</div>
        {% endfor %}
        <h4>Выберите макеты:</h4>
        <div class="list-group">
            {% for template_id, name in form.templates.choices %}
            <div class="list-group-item">
                <input type="checkbox"
                       name="templates"
                       value="{{ template_id }}"
                       {% if template_id in (form.templates.data or []) %}checked{% endif %}>
                {{ name }}
            </div>
            {% endfor %}
        </div>
    </div>

    {{ form.submit(class="btn btn-primary") }}

</form>
{% endblock %}