{% extends "base.html" %}

{% block content %}
<h2 style="text-align: center; margin-top: 200px; font-size: 4em; color: var(--primary-color);">Вход</h2>
<form method="POST" style="text-align: center;">
    {{ form.hidden_tag() }}
    <div style="margin-bottom:15px;">
        {{ form.username(placeholder="Логин", size=32, style="border-radius:15px; width:300px; height:40px; font-size:1.5em;") }}
    </div>
    <div style="margin-bottom:15px;">
        {{ form.password(placeholder="пароль", size=32, style="border-radius:15px; width:300px; height:40px; font-size:1.5em;") }}
    </div>
    <div style="margin-bottom:15px;">
        {{ form.submit(value="Войти", style="border-radius:15px; width:300px; height:45px; font-size:1.5em; color: #fff; background-color: var(--primary-color); border: 1px solid #ccc;") }}
    </div>
</form>
{% endblock %}